<ion-header [translucent]="true">
  <ion-toolbar color="secondary" >

    <ion-title >
      App BMI
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

    <div class="ion-text-center">
  <img src="../../assets/img/3475243.png" width="200px" height="200px"></div>
  <ion-card color="success" class="ion-padding">

      <ion-item>
  <ion-input label="กรอกนํ้าหนัก" color="light" placeholder="kg" ></ion-input>
      </ion-item>
      <ion-item>
  <ion-input label="กรอกส่่วนสูง" color="light"placeholder="cm" ></ion-input>
    </ion-item><br>
  <ion-button color="warning" size="large" expand="block" shape="round">คํานวณ</ion-button>
  </ion-card>
  <br>
  <div class="ion-text-center">
  <ion-button color="secondary" size="large" expand="block" >ผลลัพธ์</ion-button>
  <ion-button color="danger" size="large" expand="block" > แปรผล</ion-button>
</div>


</ion-content>
